
<form
    [formGroup]="form"
    (ngSubmit)="handleSubmit()"
>
    <div class="form-control">
        <label for="name">Имя</label>
        <input
            type="text"
            id="name"
            formControlName="name"
            placeholder="Введите своё имя"
        >
    </div>

    <button
        type="submit"
        [disabled]="form.invalid || isDisabled"
    >
        Отправить
    </button>

    <div
        *ngIf="isNameShown"
        class="name-message"
    >
        Имя пользователя: {{ name }}
    </div>

    <div
        *ngIf="isErrorShown"
        class="error-message"
    >
        Ошибка!<br>
        Повторите попытку ещё раз или обратитесь к системному администратору
    </div>

    <div
        *ngIf="isTimerShown"
        class="timer"
    >
        До следующей отправки <time>{{ timer }}</time> сек.
    </div>
</form>
